* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background: linear-gradient(120deg, #4facfe, #00f2fe);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background: white;
    padding: 30px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.2);
}

h1 {
    text-align: center;
    margin-bottom: 20px;
}

.form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

.botoes {
    display: flex;
    justify-content: space-between;
    gap: 10px;
    margin-top: 10px;
}

button {
    flex: 1;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    color: white;
    font-weight: bold;
}

#salvar {
    background: #28a745;
}

#mostrar {
    background: #007bff;
}

#limpar {
    background: #dc3545;
}

ul {
    margin-top: 20px;
    list-style: none;
}

ul li {
    background: #f1f1f1;
    padding: 10px;
    margin-bottom: 5px;
    border-radius: 5px;
}
h3{
    text-align: center;
    margin-top: 20px;
    color: #cb4646;
    
}

/* Responsivo */
@media (max-width: 500px) {
    .botoes {
        flex-direction: column;
    }
}